<%= content_tag "div", id: "downvote-#{@post.id}" do %>
  <%= link_to downvote_post_path(@post), method: :patch, remote: true, data: { disable_with: "voting..." } ,class: "text text-decoration-none" do %>
    <% if current_user.voted_down_on? @post %>
      <button type="button" class="btn btn-secondary btn-sm">Dislike!</button>
    <% else %>
      <button type="button" class="btn btn-danger btn-sm">Dislike!</button>
    <% end %>
  <% end %>
<% end %>