<%= content_tag "div", id: "upvote-#{@post.id}" do %>
  <%= link_to upvote_post_path(@post), method: :patch, remote: true, data: { disable_with: "voting..." } , class: "text text-decoration-none" do %>
    <% if current_user.voted_up_on? @post %>
      <button type="button" class="btn btn-secondary btn-sm">Like!</button>
    <% else %>
      <button type="button" class="btn btn-success btn-sm">Like!</button>
    <% end %>
  <% end %>
<% end %>